.friendlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  list-style-type: circle;
}
.item {
  border-radius: 5px;
  border: 1px solid rgb(204, 196, 196);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 20px; */
  padding: 15px;
  width: 230px;
  box-shadow: 1px 2px 2px 1px rgba(14, 13, 13, 0.382);
}
.avatar {
  width: 60px;
  /* padding-left: 20px; */
}
.name {
  font-size: 30px;
  font-weight: bold;
}
.statusgreen,
.statusred {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}
.statusred {
  background-color: red;
}
.statusgreen {
  background-color: green;
}
/* .item::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
  margin-left: 10px;
} */
