.statistics {
  margin-bottom: 10px;
  margin-top: 10px;
}
.title {
  text-align: center;
}
.statlist {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* background-color: blue; */
  color: white;
  font-weight: bold;
  font-size: 20px;
  /* gap: 36px; */
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
span.percentage {
  font-size: 30px;
}
